@charset "UFT-8";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #b1e1e2;

    .select_article {
        position: absolute;
        visibility: hidden;
        width: 80vw;
        height: 80vh;
        left: 2vw;
        top: 6vh;
        border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;

        @for $i from 1 to 31 {
                :nth-child(#{$i}) {
                        width: 13vw;
                        height: 12vh;
                        margin: 1vh;
                        cursor: pointer;
                    .title{
                        visibility: visible;
                        width: 100%;
                        height: 100%;
                        padding: 1vh;
                        display: flex;
                        align-items: center;
                        justify-content: center ;
                        font: 3vh "Jua";
                        background: #eee;
                        border-radius: 3vh;
                        box-shadow: 3vh;
                    }
            }
        }
        .select1, .select2, .select3, .select4{
            .title {
                visibility: visible;
                width: 100%;
                height: 100%;
                padding: 1vh;
                display: flex;
                align-items: center;
                justify-content: center ;
                font: 3vh "Jua";
                background: #333;
                border-radius: 3vh;
                box-shadow: 3vh;
            }
        }

        
    }

    .explain {
        width: 20vw;
        height: 30vh;
        position: absolute;
        right: 3vw;
        top: 10vh;
        padding: 10px;
        background: rgba(0,0,0,0.3);
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 3.4vh "Jua";
    }

    .initial {
        width: 20vw;
        height: 10vh;
        position: absolute;
        right: 3vw;
        top: 55vh;
        background: rgba(238, 115, 238, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vh;
        font: 7vh "JUA";
        cursor: pointer;
    }

    .next {
        width: 20vw;
        height: 10vh;
        position: absolute;
        right: 3vw;
        top: 70vh;
        background: rgba(115, 238, 115, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vh;
        font: 7vh "JUA";
        cursor: pointer;
    }

    .warning {
        position: absolute;
        top: 30vh;
        left: 10vw;
        font: 10vh "jua";
        background: #333;
        color: rgb(237, 116, 136);
        width: 80vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .off_warning {
        visibility: hidden;
    }

    .off_explain, .off_next, .off_initial {
        visibility: hidden;
    }
    
    .selected_article {
        visibility: hidden;

        .select_view {
            z-index: 10;
            position: absolute;
            visibility: visible;
            width: 40vw;
            height: 55vh;
            top: 20vh;
            left: 30vw;
            background: rgba(255,255,255, 0.5);
            display: flex;
            flex-wrap: wrap;

            .title {
                width: 100%;
                height: 15%;
                padding: 3%;
                font: 4vh "jua";
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid black;
            }

            .tar {
                width: 20%;
                height: 30%;
                font: 2vh "jua";
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .target {
                width: 80%;
                height: 30%;
                padding: 2%;
                font: 2vh "jua";
                display: flex;
                align-items: center;
            }

            .cont {
                width: 20%;
                height: 30%;
                font: 2vh "jua";
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .contents {
                width: 80%;
                height: 30%;
                padding: 2%;
                font: 2vh "jua";
                display: flex;
                align-items: center;
            }

            .ht {
                height: 10%;
                width: 20%;
                font: 2vh "jua";
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .howto {
                margin-bottom: 5%;
                width: 80%;
                height: 10%;
                padding: 2%;
                font: 2vh "jua";
                display: flex;
                align-items: center;
            }

            .qz{
                visibility: hidden;
            }
        }

        .select_hidden {
            visibility: hidden;
        }
    }
    .off {
        visibility: hidden;
    }

    .on {
        width: 100%;
        height: 100vh;
        
        .bg {
            position: absolute;
            width: 80vw;
            height: 70vh;
            top: 10vh;
            left: 10vw;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .off_bg {
            visibility: hidden;
        }

        .off_black_bg {
            visibility: hidden;
        }

        .change_bg {
            z-index: 10;
            position: absolute;
            width: 80vw;
            height: 70vh;
            top: 10vh;
            left: 10vw;
            background: rgb(0,0,0);
            animation: black linear 3s;
            opacity: 0;
            animation-fill-mode: forwards;

            @keyframes black {
                0%{opacity: 0;}
                50%{opacity: 1;}
                100%{opacity: 0;}
            }
        }

        .boundary {
            position: absolute;
            width: 80vw;
            height: 70vh;
            top: 10vh;
            left: 10vw;
            overflow: hidden;

            .in_hong2 {
                top: 50%;
                left: 30%;
                position: absolute;
                width: 12%;
                height: 14%;
                z-index: 10;
                animation: do_in linear 4s;
                animation-fill-mode: forwards;

                @keyframes do_in {
                    0% {left: 30%; transform: rotateY(0deg); opacity: 1};
                    80% {left:52%; transform: rotateY(0deg); opacity: 1};
                    100% {left:52%; transform: rotateY(90deg); opacity: 0};
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .hong2 {
                top: 50%;
                left: -12%;
                position: absolute;
                width: 12%;
                height: 14%;
                animation: appearing linear 4s;
                animation-fill-mode: forwards;

                @keyframes appearing {
                    0%{top: 45%; left: -12%};
                    20%{top: 50%; left: -3.6%};
                    40%{top: 55%;left: 4.8%};
                    60%{top: 50%;left: 13.2%};
                    80%{top: 45%;left : 21.6%};
                    100%{top: 50%; left: 30%};
                }
                
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .off_hong2 {
                visibility: hidden;
            }

            .game_announce {
                top: 0%;
                left: 0%;
                margin-top: 5%;
                margin-left: 10%;
                width: 80%;
                height: 30%;
                background: rgba(0,0,0,0.3);
                font: 5vh "jua";
                color: rgb(202, 233, 125);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                animation: announce linear 1s;
                animation-fill-mode: forwards;

                @keyframes announce {
                    0%{opacity: 0;}
                    100%{opacity: 1;}
                }
            }

            .off_game_announce {
                visibility: hidden;
            }
            

            .off_portal {
                visibility: hidden;
            }

            .portal {
                top: 45%;
                left: 50%;
                position: absolute;
                width: 16%;
                height: 24%;
                z-index: 8;
                opacity: 0;
                animation: vanishIn 2s;
                animation-fill-mode: forwards;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .bye_game_announce {
                top: 0%;
                left: 0%;
                margin-top: 5%;
                margin-left: 10%;
                width: 80%;
                height: 30%;
                background: rgba(0,0,0,0.3);
                font: 5vh "jua";
                color: rgb(202, 233, 125);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                animation: vanishOut 2s;
                animation-fill-mode: forwards;
            }

            .bye_portal {
                top: 45%;
                left: 50%;
                position: absolute;
                width: 16%;
                height: 24%;
                z-index: 8;
                opacity: 1;
                animation: vanishOut 2s;
                animation-fill-mode: forwards;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .off_skill_book1 {
                visibility: hidden;
            }

            .skill_book1 {
                z-index: 10;
                position: absolute;
                width: 30%;
                height: 30%;
                top: 70%;
                left: 60%;
                animation: bounce ease-in 2s infinite;
                cursor: pointer;

                @keyframes bounce {
                    0%{opacity: 1;}
                    50%{opacity: 0;}
                    100%{opacity: 1;}
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .book1_announce {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,0.3);
                width: 20%;
                height: 20%;
                top: 5%;
                left: 2%;
                font: 2vh "jua";
                color: rgb(202, 233, 125);
            }

            .off_book1_announce {
                visibility: hidden;
            }

            .off_teacher {
                visibility: hidden;
            }

            .teacher {
                width: 30%;
                height: 40%;
                top: 0%;
                right: -110%;
                position: absolute;
                z-index: 10;
                animation: teacher_appear linear 1s;
                animation-fill-mode: forwards;

                @keyframes teacher_appear {
                    0%{right: -110%;}
                    100%{right: -5%;}
                }

                .teacher_talk {
                    opacity: 1;
                    width: 60%;
                    height: 50%;
                    font: 3vh "jua";
                    background: rgba(255,255,255,0.3);
                    top: 100%;
                    margin-left: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #111;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    cursor: pointer;
                }
            }

            .off_teacher {
                visibility: hidden;
            }

            .tenor {
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                position: absolute;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .off_tenor {
                visibility: hidden;
            }
        }
    }
}

@keyframes vanishIn {
0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
}
100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
}
}

@keyframes vanishOut {
0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
}
100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(20px);
}
}